@charset "utf-8";
/* CSS Document */

#startStory {
	min-height: 50px;
	border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;
}

#newPostWrap{
	margin-bottom: 2px;
	min-height: 55px;
	padding: 0 20px 10px 20px;
	border-bottom: 1px solid #E5F2FA;
	box-shadow: 0 1px 0 #0097c2;
}

#frmNewStory label { font-size: 12px; color: #CCC; }
#frmNewStory .counter { float: right; margin-right: 20px; font-size: 15px; display: none; }
#frmNewStory label{ color: #960; }

#tarea {
	
}

#stryTitle { float: left; }

.storyField{
	font-size: 18px;
	width: 544px; height: 20px;
	padding: 5px;
	background-color: #E5F2FA;
	border: 1px solid #465A65;
	border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px;
}

#tarea:hover { border: 1px solid #0b5c8e; }

#hideFrm { display: none; }

#stryTitle:hover { background-color: #e5f2fa; }

#postNewStory {
	width: 70px;
	height: 34px;
	margin-left: 22px;
	float: left;
}

#cancelNewStory {
}


/* Main Board */
#board { margin-top: 5px; min-height: 400px; }

/* Top user Info section */
.account { text-align: right; cursor: pointer; padding: 10px; }
.account .name { margin: 0 5px; }
.dropDwn { background-color: #52575D; position: relative; width: 178px; font-size: 14px; }

.dropDwn ul { list-style: none; padding-bottom: 10px; }
.dropDwn ul li a.userLink{ padding: 5px 20px; display: block; }
.dropDwn ul li a, .dropDwn ul li a:active, .dropDwn ul li a:visited { color: #FFF; text-decoration: none; }
.dropDwn ul li a:hover { color: #CCC; }

.gbma {
	position: relative;
	top: -1px;
	border-style: solid dashed dashed;
	border-color: transparent;
	border-top-color: silver;
	display: -moz-inline-box;
	display: inline-block;
	font-size: 0;
	height: 0;
	line-height: 0;
	width: 0;
	border-width: 5px 5px 0;
	padding-top: 1px;
}
